<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>It's Mr. Stick Figure </h1>
    <p>Air plant tumeric franzen blue bottle single-origin
      coffee synth cardigan health goth craft beer coloring book
      gentrify prism pabst. Vice keytar man bun tote bag hell of.
      Adaptogen direct trade fingerstache skateboard salvia brunch street art
      chambray flexitarian actually austin master cleanse food truck. Slow-carb typewriter tousled,
      etsy mlkshk tilde gluten-free blue bottle pug chartreuse vice kickstarter.</p>
  </div>
</div>